@CHARSET "US-ASCII";

	/* 브라우저 별로 다른 default css값을 초기화 */
	/* System Name, CSS Version_Creater_Date */
	/* Common */ 
	body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
	body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans- serif;font-size:1em}
	img,fieldset{border:0}
	ul,ol{list-style:none}
	em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

div#wrap{
	width : 100%;
}

#header{
	width : 100%;
	margin-left : auto;
	margin-right : auto;
}

#header > h1 {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 4em;
	font-weight : 100; 		/*default value : 4000 */
	letter-spacing : 0.1em;
	text-align : center;
	margin-top : 30px;	
}

#container {
	width : 600px;
	border-radius : 1.5em;
	margin-top : 30px;
	padding-top : 30px;
	margin-left : auto;
	margin-right : auto;

}

#container #board {
	float : left;
	width : 600px;
	margin-right : auto;
	margin-left : auto;
	margin-bottom : 30px;
	border : 1px solid lightgrey;
	border-radius : 1em;
	padding-top : 30px;
	padding-bottom : 30px;
}

#container #board #photoSection{
	width : 350px;
	float : left;
	text-align:center;
}

#container #board #photoSection img{
	width : 300px;
	height : auto;
}

#container #board #textSection{
	width : 250px;
	float : left;
}

#container #board #textSection p {
	margin-bottom : 10px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
}

#container #board #textSection p #title{
	background : yellow;
	font-size : 1.1em;

}

#container #board #textSection p #filename{
	font-style : italic;
	font-size : 0.8em;
}

#container #board #textSection a input[type=button]{
	width : 80%;
	border : 1px solid lightblue;
	background : white;
	padding : 3px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
	border-radius : 0.5em;
}


#footer {
	float : left;
	width : 100%;
	text-align :center;
	margin-top : 50px;
	padding-top : 20px;
	margin-bottom : 50px;
	border-top : 1px solid lightgrey;
}

#footer a input {
	border : 1px solid lightgreen;
	background:white;
	width : 60px;
	height : 60px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
	font-size : 1em;
	text-align : center;
}