@CHARSET "US-ASCII";

	/* 브라우저 별로 다른 default css값을 초기화 */
	/* System Name, CSS Version_Creater_Date */
	/* Common */ 
	body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
	body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans- serif;font-size:1em}
	img,fieldset{border:0}
	ul,ol{list-style:none}
	em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

#wrap{
	width : 100%;
}

#header{
	width : 100%;
	margin-left : auto;
	margin-right : auto;
}

/*페이지 제목*/
#header > h1 {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 4em;
	font-weight : 100; 		/*default value : 4000 */
	letter-spacing : 0.1em;
	text-align : center;
	margin-top : 30px;	
}

#container {
	width : 600px;
	border-radius : 1.5em;
	margin-top : 30px;
	margin-left : auto;
	margin-right : auto;
}

#submitcontent {
	border-bottom : 1px solid lightgrey;
	margin-bottom : 50px;
}

#submitcontent p {
	text-align : center;
}

/* 로그인 화면(아이디, 비밀번호 입력) 및 제목*/
#submitcontent input[type=text],input[type=password]{
	border : 1px solid lightgrey;
	width : 600px;
	height : 30px;
	padding : 2px;
	margin-bottom : 5px;
}

/*로그인 버튼 및 글 보내기 버튼*/
#submitcontent p input[type=submit]{
	width : 500px;
	height : 30px;
	border : 1px solid lightpink;
	background : white;
	margin-top : 10px;
	margin-bottom : 50px;
	border-radius : 10px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
	font-size : 1em;
}

#submitcontent form p {
	text-align : center;
}

/*본문 입력창*/
#submitcontent form p textarea {
	border : 1px solid lightgrey;
	margin-bottom : 10px;
	width : 600px;
	resize : none;
}

/*파일 첨부*/
#submitcontent input[type=file]{
	margin-top : 10px;	
	height : 30px;
	border : none;
}

.boardsec {
	float : left;
	width : 600px;
	margin-right : auto;
	margin-left : auto;
	margin-bottom : 30px;
	border : 1px solid lightgrey;
	border-radius : 1em;
	padding-top : 30px;
	padding-bottom : 30px;
}

.photosec {
	width : 350px;
	float : left;
	text-align:center;
}

.photosec>img{
	width : 300px;
	height : auto;
}

.textsec{
	width : 230px;
	float : left;
}

/*텍스트 부분 전반 스타일 */
.textsec>p {
	margin-bottom : 10px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
}

.title{
	padding : 3px;
	border-bottom : 1px dashed darkred;
	font-size : 1.1em;
}

.filename{
	padding : 3px;
	font-style : italic;
	font-size : 0.8em;
	width : 230px;
	overflow:hidden; 
	text-overflow:ellipsis;
}

.commentsec {
	padding : 5px;
	margin-top : 10px;
}

.commentsec>p{
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 0.4em;
	font-weight : 100; 		/*default value : 4000 */
	margin-bottom : 5px;
	color : grey;
}

.textsec a span{
	text-align : center;
	float : right;
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 1em;
	color : white;
	font-weight : 100; 		/*default value : 4000 */
	width : 20px;
	height : 20px;
	border : solid 1px;
	border-radius : 8px;
	background-color : lightgreen;
}


#footer {
	float : left;
	width : 100%;
	text-align :center;
	margin-top : 50px;
	padding-top : 20px;
	margin-bottom : 50px;
	border-top : 1px solid lightgrey;
}

#footer a input {
	border : 1px solid lightgreen;
	background:white;
	width : 60px;
	height : 60px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
	font-size : 1em;
	text-align : center;
}