@CHARSET "US-ASCII";


/* 브라우저 별로 다른 default css값을 초기화 */
/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans- serif;font-size:1em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}


div#wrap{
	margin-left : auto;
	margin-right : auto;
	width : 800px;
}

#header h1{
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 4em;
	font-weight : 100; 		/*default value : 4000 */
	letter-spacing : 0.1em;
	text-align : center;
	margin-top : 30px;	
}

#container {
	border : 1px solid lightgrey;
	border-radius : 1.5em;
	text-align : center;
	margin-top : 30px;
	padding-top : 30px;
	padding-bottom : 30px;
}

#container #board img{
	margin-top : 30px;
	margin-bottom : 10px;
	width : 400px;
	height : auto;
}

#container #board p {
	margin-bottom : 30px;
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 1em;
	font-weight : 100; 		/*default value : 4000 */
	

}

#container #title {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 3em;
	font-style : italic;
	font-weight : 100; 		/*default value : 4000 */
	background : yellow;
}

#container #contents{
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 2em;
	font-weight : 100; 		/*default value : 4000 */
	width : 400px;
	text-align : left;
	border-right : 1px solid lightgrey;
	border-left : 1px solid lightgrey;
	border-bottom : 1px solid lightgrey;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 30px;
	padding : 2px 10px 2px 10px;
}

#container>p {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight : 100; 		/*default value : 4000 */
}

#container>p>input[type=button]{
	border : none ;
	background : lightgrey;
	font-size : 1em;
	color : white;
	font-weight : lighter;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 3px;
	padding-bottom : 3px;
}

#container #commentgroup {
	width : 400px;
	margin-left : auto;
	margin-right : auto;	
	display:block;
}

#container #commentgroup #commentlist p{
	text-align : left;	
}

#container #commentgroup #commentlist #num {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 0.8em;
	font-weight : 300; 		/*default value : 4000 */
	color : darkred;
	letter-spacing : 0.05em;
}

#container #commentgroup #commentlist #comment {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 0.8em;
	font-weight : 300; 		/*default value : 4000 */
	color : black;
}

#container #commentgroup form textarea{
	width :400px;
	height : 100px;
	border : none;
	background : lightyellow;
	resize : none;
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 0.8em;	
}

#container #commentgroup form input[type=submit]{
	width : 300px;
	height : 30px;
	border : 1px solid lightblue;
	background : white;
	margin-top : 10px;
	margin-bottom : 30px;
	border-radius : 0.7em;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
}

#footer {
	text-align :center;
	margin-top : 50px;
	padding-top : 20px;
	margin-bottom : 50px;
	border-top : 1px solid lightgrey;
}

#footer a input {
	border : 1px solid lightgreen;
	background:white;
	width : 60px;
	height : 60px;
	font-weight : 100; 		/*default value : 4000 */
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.07em;
	font-size : 1em;
	text-align : center;
}